<div class="about-page container-fluid">
	<div class="row">
		<div class="col-md-12 about-img about-img-1"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h2>About Page Description</h2>
					<p>Damage report! But the probability of making a six is no greater than that of rolling a seven. Could someone survive inside a transporter buffer for 75 years? Now we know what they mean by 'advanced' tactical training. Some days you get the bear, and some days the bear gets you. The Enterprise computer system is controlled by three primary main processor cores, cross-linked with a redundant melacortz ramistat, fourteen kiloquad interface modules.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 about-img about-img-2"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Worf, It's better than music. It's jazz. I recommend you don't fire until you're within 40,000 kilometers. Some days you get the bear, and some days the bear gets you. Commander William Riker of the Starship Enterprise. Captain, why are we out here chasing comets? Well, I'll say this for him - he's sure of himself. Sorry, Data. Fate. It protects fools, little children, and ships named "Enterprise." They were just sucked into space.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 about-img about-img-3"></div>
	</div>
</div>