<div class="admin-panel">
	<div class="title">BelAir Admin</div>
	<div class="action">
		<h1>&#9998; Update Shows:</h1>
		<div ng-repeat='show in shows'>
		  <h3><a ng-href="/#/admin/shows/{{show.id}}"><span>&#9834; {{ show.name }}</span></a></h3>
		</div>
	</div>
	<div class="action">
		<h1><a ng-href="/#/admin/shows/new">&#43; Create New Show</a></h1>
	</div>
</div>