<h1>Create New Show</h1>
<p ng-repeat="error in errors" style="color: red;">
  {{ error }}
</p>
<form>
  <p>
    <label>Name</label>
    <input ng-model="show.name"/>
    <label>Description</label>
    <input ng-model="show.description"/>
  <p/>
  <p>
    <label>Image URL</label>
    <input ng-model="show.image_url"/>
    <br/>
    <img ng-src="{{ show.image_url }}"/>
  <p/>
  <p>
    <label>Background Image URL</label>
    <input ng-model="show.background_image_url"/>
    <br/>
    <img ng-src="{{ show.background_image_url }}"/>
  <p/>
  <button ng-click="saveShow()">Save!</button>
</form>


<a ng-href="/#/admin"><h5>Admin Home</h5></a>
