<h1>Create New Episode: {{ show.name }}</h1>
<p ng-repeat="error in errors" style="color: red;">
  {{ error }}
</p>
<form>
  <p>
    <label>Name</label>
    <input ng-model="episode.name"/>
  <p/>
  <p>
    <button ng-hide="fileUpload" ngf-select="fileSelected($file)">
      {{ fileName || episode.file_url || "Choose File"}}
    </button>
    <span ng-show="fileUpload">
      Upload progress: {{ fileUpload.percentage }}%
    </span>
  <p/>
  <button ng-click="saveEpisode()">Save!</button>
</form>

<a ng-href="/#/admin/shows/{{show.id}}"><h5>{{ show.name }}</h5></a>
