<h1>Create New Episode: {{ show.name }}</h1>
<p ng-repeat="error in errors" style="color: red;">
  {{ error }}
</p>
<form>
  <p>
    <label>Name</label>
    <input ng-model="episode.name"/>
  <p/>
  <p>
    <label>File URL</label>
    <input ng-model="episode.file_url"/>
    <div ngf-select="upload($file)">Upload File On Select</div>
  <p/>
  <button ng-click="saveEpisode()">Save!</button>
</form>

<a ng-href="/#/admin/show/{{show.id}}"><h5>{{ show.name }}</h5></a>
