<h1>Edit Show:</h1>
<form>
  <p>
    <label>Name</label>
    <input ng-model="show.name"/>
  <p/>
  <p>
    <label>Image URL</label>
    <input ng-model="show.image_url"/>
  <p/>
</form>
<a ng-href="/#/admin"><h5>Admin Home</h5></a>
