<h1>BelAir Admin</h1>
<a ng-href="/#/admin/show/new"><h3>Add New Show</h3></a>
<h3>Edit Shows:</h3>
<div ng-repeat='show in shows'>
  <a ng-href="/#/admin/show/{{show.id}}">{{ show.name }}</a>
</div>
