<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  	<span class="pull-left">
		<button type="button" class="btn btn-default btn-lg" ng-click="openAside('left', true)">
			<span class="glyphicon glyphicon-align-justify"></span>
		</button>
  	</span>

    <a class='logo' href="/#/">
      <%= image_tag 'logo.png', alt: 'Bel Air', title: 'Bel Air' %>
    </a>
    <ba-player/>
  </div>
</div>
