<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class='logo' href="/#/">
      <%= image_tag 'logo.png', alt: 'Bel Air', title: 'Bel Air' %>
    </a>
    <ba-player/>
  </div>
</div>
