<h1>BelAir</h1>
<div class="shows">
	<div class="show" ng-repeat="show in shows">
	  <a ng-href="/#/shows/{{show.id}}"><h1>{{show.name}}</h1></a>
	  <img ng-src="{{ show.image_url }}"/>
	</div>
</div>