<div class="home row">
	<div class="show col-xs-12" ng-class="$index <= 2 ? 'col-sm-12' : 'col-sm-4'" ng-repeat="show in shows">
		<div class="show-content" ng-if="!smallSize()">
			<div class="show-img"  ng-style="{'background-image':'url(' + show.image_url + ')'}">
			</div>
			<div class="show-info">
				<h2 class="show-name"><a ng-href="/#/shows/{{show.id}}">{{show.name}}</a></h2>
				<div class="show-description">{{ !!show.description ? show.description : 'hm hr ugh a;lasjdf ;lj;aslkdhjt ;aksld jkjdkl xcg ks dtj alk sd jflckj asdf;lkasjd; f;aldsjflk a;lsdkjf;lj sd;lfkjasd;lfj als;kdtjaslkdfhasf as fdas d asdkfjas;ld ta sdjsadf adsj sdkf' }}</div>
			</div>
		</div>
		<div class="show-content" ng-if="smallSize()">
			<div class="show-info">
				<h2 class="show-name"><a ng-href="/#/shows/{{show.id}}">{{show.name}}</a></h2>
				<div class="show-description">{{ !!show.description ? show.description : 'hm hr ugh a;lasjdf ;lj;aslkdhjt ;aksld jkjdkl xcg ks dtj alk sd jflckj asdf;lkasjd; f;aldsjflk a;lsdkjf;lj sd;lfkjasd;lfj als;kdtjaslkdfhasf as fdas d asdkfjas;ld ta sdjsadf adsj sdkf'  }}</div>
			</div>
			<div class="show-img"  ng-style="{'background-image':'url(' + show.image_url + ')'}">
			</div>
		</div>
	</div>
	<div class="contact col-xs-12">
		<h3>Get Involved.</h3>
		<div>Email us at <a href="mailto:contact@bel-air.org">contact@bel-air.org</a> to learn more.</div>
	</div>
</div>