<div class="show-page-container row" ng-style="containerStyle">
	<div class="col-xs-12 col-sm-4 pull-right">
		<div class="show-info">
			<h1 class="show-name">{{show.name}}</h1>
			<div class="show-description">{{ show.description }}</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="episodes">
			<div class="episodes-header">Previous Episodes</div>
			<div class="episode" ng-repeat="episode in show.episodes | orderBy:'-air_date'">
			  <a ng-click="play(episode)">
			  	<div class="play-icon glyphicon glyphicon-play"></div>
			  	<div class="episode-name">{{episode.name}}</div>
			  </a>
			</div>
		</div>
	</div>
</div>
