<div class="show-page-container row" ng-style="containerStyle">
	<div class="column-md-12">
		<div class="container-fluid">
			<div class="row">
				<div class="episode-list col-md-4">
					<div ng-repeat="episode in show.episodes | orderBy:'-air_date'">
					  <a ng-click="play(episode)"><h3>Play <strong>{{episode.name}}</strong></h3></a>
					</div>
				</div>
				<div class="show-name col-md-4 pull-right">
					<h1>{{show.name}}</h1>
				</div>
			</div>
		</div>
	</div>
</div>
