@import "constants";

@font-face {
	font-family: 'HKGrotesk Regular';
	src: font-url("HKGrotesk-Regular.otf");
}

@font-face {
	font-family: 'HKGrotesk Bold';
	src: font-url("HKGrotesk-Bold.otf");
}

@font-face {
	font-family: 'HKGrotesk Light';
	src: font-url("HKGrotesk-Light.otf");
}

* {
	box-sizing: border-box !important;
}

body {
	font-family: 'HKGrotesk Regular';
	letter-spacing: 0.5pt;
	font-size: 15px;
}

h1, h2, h3 {
	font-family: 'HKGrotesk Bold';
	margin: 1.25rem 0;
}

a {
	color: black !important;
	cursor: pointer;
}

.header {
	min-height: 180px;

	.menu-button {
		border: none;
		background: transparent;
		color: $pink !important;
		height: 36px;
		margin-top: 30px;
		font-size: 24px;
	}

  .logo {
    text-align: right;
    margin-top: 24px;
    display: block;
    img {
      width: 160px;
    }
  }
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.nav {
	font-size: 1.5em;
	text-transform: uppercase;
	color: $pink;

	a {
		color: $pink !important;
	}

	.close-icon {
		float: left;
		cursor: pointer;
		&:before {
			content: '\2715'
		}
	}

	.modal-footer {
		text-align: center;
		position: absolute;
		bottom: 2em;
		width: 100%;
		border: none;
		font-size: 1.25rem;

		a {
			margin: 0 8px;
		}
	}
}

.navbar-default {
	background: #fff;
}

.modal-body {
	div {
		margin: 0.5em 0;
	}
}

.content {
	position: relative;
}

.show-description {
	line-height: 1.4em;
}

.contact {
	padding: 2em;
	padding-top: 1em;
	text-align: center;

	h3 {
		color: $pink;
	}
}

.home .show {
	display: flex;
	overflow: hidden;
	padding: 0;

	.show-img {
		background-size: cover;		
		background-position: center;
		overflow: hidden;
		display: flex;
		height: 19em;
	}

	.show-info {
		border: 4px solid black;
		margin: 1.5em;
		padding: 1em;
		background: white;
	}

	.show-description {
		max-height: 4.2em;
	}

	&:nth-child(3n+1) {
		background: $pink;
	}
	&:nth-child(3n+2) {
		background: $green;
	}
	&:nth-child(3n+3) {
		background: $grey;
	}
}

.shows {
	background: $green;

	.search {
		background: white;
		padding: 1em;
		margin-bottom: 1em;
	}

	.panel {
		border: 2px solid black;
	}

	.panel-header {
		border-bottom: 2px solid black;
		
		img {
			width: 100%;
			height: auto;
		}		
	}
}



.show-page-container {
	background-size: cover;
	height: calc(100vh - 8.5em);
	overflow: hidden;

	.episodes,
	.show-info {
		margin: 1em 0;
		padding: 1em 2em 2em 2em;
		background: white;
		border: 4px solid black;
	}

	.episodes {
		padding: 1em 2em;
		max-height: 28em;
		overflow-y: scroll;
	}

	.episodes-header {
		font-family: 'HKGrotesk Light';
		font-size: 1em;
		text-transform: uppercase;
	}

	.episode {
	    font-size: 1.25em;
	    padding: 0.5em 0;
	    
	    a {
    		display: flex;
    		line-height: 1em;
    	}

		.play-icon {
			display: inline-block;
		    width: 16px;
		    height: 16px;
		    font-size: 8px;
		    border-radius: 8px;
		    border: 2px solid black;
		    margin-right: 6px;
		    text-align: center;
		    text-indent: 2px;
		    line-height: 12px;
		}

		.episode-name {
			display: inline-block;
		}
	}
}

.schedule-page {
	background: $pink;

	/* calendar */
	#gcf-simple {
		margin: 2em;

		.gcf-header-block {
			display: none;
		}

		.gcf-item-block {
			width: 14%;
			display: inline-block;
			margin-bottom: 2em;
			.gcf-item-location, .gcf-item-description {
				display: none;
			}
		}
	}

	.responsive-iframe-container {
	    position: relative;
	    margin: 1em;
	    padding-bottom: 120%;
	    padding-top: 30px;
	    height: 0;
	    overflow: auto;

		iframe,  
		object, 
		embed {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
}

.about-page {
	background: white;
	text-align: center;

	.about-text {
		padding: 1.5em 0;
	}

	h2 {
		font-size: 3em;
		color: $pink;
	}

	h3 {
		font-size: 1.25em;
		font-family: 'HKGrotesk Light';
		text-transform: uppercase;

	}

	.image-link {
		display: inline-block;
		width: auto;
		max-width: 120px;
		height: 108px;
		overflow: hidden;

		img {
			width: auto;
			height: 100%;
		}
	}

	.about-img {
		height: 24em;
		background-size: cover;

		&.about-img-1 {
			// background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12801167_3631556432252_7234413885634792731_n.jpg?oh=dfaa9fbb2162de4201b91d5b5be4e709&oe=57D19D7A');
			// background-position: center;
			background-image: url('https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e15/10787743_892377607440373_1257534421_n.jpg?ig_cache_key=ODUxMDc5OTk0MDE1MTg2OTk0.2');
			background-position: top;
		}

		&.about-img-2 {
			// background-image: url('https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/12940907_1717448825180475_1475671739_n.jpg?ig_cache_key=MTIyNDgwODQxMjIzNTY2MTg1OQ%3D%3D.2');
			background-image: url('https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/12729646_822906401166002_1946249533_n.jpg?ig_cache_key=MTE4NzMzMzQ2OTIxODc2NzM0OA%3D%3D.2');			
			background-position: center;
		}

		&.about-img-3 {
			background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12805922_3631556672258_7647726852073508736_n.jpg?oh=b8450e23e3d63a7ea5aecac7e213d218&oe=57DED8C5');
			background-position: top;
		}
	}
}

// responsive stuff
@media (max-width: 767px) {
	.home .show {
		.show-content {
			margin: 1.5em;
			border: 2px solid black;
		}

		.show-img {
			height: 40vh;
		}

		.show-info {
			margin: 0;
			border: 0;
			border-bottom: 2px solid black;
		}

	}

	.show-page-container {
		.show-info {
			margin-top: 0;
			border: 0;
			border-bottom: 2px solid black;
		}
	}

	.about-page .about-img {
		height: 18em;
	}
}

@media (min-width: 768px) {
	.home .show {
		&:first-child,
		&:nth-child(2),
		&:nth-child(3) {
			padding-top: 0;

			.show-content {
				border: 4px solid black;
				margin: 2em;
				height: 21em;
			}

			.show-img {
				width:  30%;
				height: 100%;
			}

			.show-info {
				border: none;
				margin: 0;
				width: 70%;
				height: 100%;
				padding: 3em;
			}

			.show-name {
				font-size: 4em;
				margin: 2rem 0 3rem 0;
			}
		}

		&:first-child,
		&:nth-child(3) {
			.show-img {
				float: left;
				border-right: 4px solid black;
			}

			.show-info {
				float: left;
			}
		}

		&:nth-child(2) {
			.show-img {
				float: right;
				border-left: 4px solid black;
			}

			.show-info {
				float: right;
			}
		}
	}

	.show-page-container {
		.show-info {
			position: fixed;
			bottom: 1em;
			right: 1em;
		}
	}
}

@media (min-width: 1024px) {
	.about-page .about-img {
		height: 32em;
	}

}



/* admin */
.admin-panel {
	background: $grey;
	padding: 2em;

	.title {
		font-size: 2em;
		color: #fff;
		padding: 0.5em;
		text-align: center;
		background: black;
	    margin: -1em -1em 1em -1em;
	}

	.back-link {
		text-align: center;
	}

	.action {
		padding-bottom: 3em;
	}

	h3 {
		//text-align: center;
	}

	.show-img {
		img {
			width: 500px;
		}
	}

	input, textarea {
		width: 100%;
		padding: 0.5em;
	}

	textarea {
		height: 100px;
	}

	button {
		background: #000;
		color: #fff;
		font-size: 1.5em;
		font-weight: bold;
		padding: 1em;
		border: none;
	}
}