// standard variables
$pink: #f4447b;
$green: #a2e95a;
$grey: #b0b0b0;

.shows {
	width: 100%;
}

.show {
	display: -webkit-flex;
	display: flex;
	padding: 1em;
	border: 2px solid black;
	&:nth-child(3n+1) {
		background: $pink;
	}
	&:nth-child(3n+2) {
		background: $green;
	}
	&:nth-child(3n+3) {
		background: $grey;
	}

	.info-container {
		padding: 1em;
		background: white;
	}
}