// standard variables
$pink: #f4447b;
$green: #a2e95a;
$grey: #b0b0b0;

* {
	box-sizing: border-box !important;
}


.header {
	min-height: 8.5em;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.content {
	position: relative;
}

.show {
	display: -webkit-flex;
	display: flex;
	padding: 1em;
	border: 2px solid black;
	overflow: hidden;

	.show-img img {
		width: 100%;
		height: auto;
	}

	.show-info {
		padding: 1em;
		background: white;
	}

	&:first-child,
	&:nth-child(3) {
		.show-img {
			width: 20%;
			float: left;
		}

		.show-info {
			float: left;
			width: 80%;
		}
	}

	&:nth-child(2) {
		.show-img {
			width: 20%;
			float: right;
		}

		.show-info {
			float: right;
			width: 80%;
		}
	}


	&:nth-child(3n+1) {
		background: $pink;
	}
	&:nth-child(3n+2) {
		background: $green;
	}
	&:nth-child(3n+3) {
		background: $grey;
	}
}

.show-page-container {
	background-size: cover;
	width: 100%;
	height: calc(100vh - 8.5em);
	overflow: scroll;

	.episode-list,
	.show-name {
		padding: 1em;
		background: white;
		border: 2px solid black;
	}
}