$pink: #f4447b;
$green: #a2e95a;
$grey: #b0b0b0;

@font-face {
	font-family: 'HKGrotesk Regular';
	src: url("HKGrotesk-Regular.otf");
}

@font-face {
	font-family: 'HKGrotesk Bold';
	src: url("HKGrotesk-Bold.otf");
}

@font-face {
	font-family: 'HKGrotesk Light';
	src: url("HKGrotesk-Light.otf");
}