<!DOCTYPE html>
<html>
<head>
  <title>BelAir</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="belAir">
	<div ba-header></div>
	<div class="content">
	  <div ng-view></div>
	</div>
  <div ba-footer></div>
  <%= render 'layouts/angular_templates' %>
</body>
</html>
